.nav {
  margin-bottom: 20px;
  &__mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: $color-primary;
    padding: 45px 25px;
    .header__title {
      color: $color-third;
    }
  }
  &__list {
    &--collapsed {
      display: none;
      @include mq(s) {
        display: block;
      }
    }
    &--is-expanded {
      display: block;
      margin-top: 100px;
      color: $color-third;
    }
  }
  &__list-item {
    display: flex;
    padding: 0;
    padding-left: 5px;
    text-align: left;
    font-size: 20px;

    a {
      padding: 15px 0px 5px 0px;
      font-size: 16.85px;
      font-family: $font-secondary;
      text-transform: uppercase;
      &:hover {
        border-bottom: $border;
      }
    }
  }
  &__flag-wrapper {
    display: flex;
    align-items: center;
  }
  &__flag {
    width: 20px;
    height: auto;
    margin-right: 10px;
    display: block;
  }
  &__toggle {
    display: block;
    margin-right: 0;
    margin-left: auto;
    position: absolute;
    top: 51px;
    right: 25px;
    border: none;
    &:hover {
      border: none;
    }
    @include mq(s) {
      display: none;
    }
  }
  &__toggle-image {
    width: 36px;
    height: auto;
  }
}
