.portfolio {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  a {
    flex-basis: 100%;
    height: auto;
    @include mq(s) {
      flex-basis: 50%;
    }
  }
  &__item {
    flex-basis: 100%;
    height: auto;
    padding: 5px 0;
    @include mq(s) {
      flex-basis: 50%;
      padding: 7px;
    }
  }
  &__btn {
    margin: 40px auto;
    display: block;
    padding: 20px 40px;
    text-transform: uppercase;
    font-family: $font-secondary;
    font-weight: 400;
    font-size: 16.85px;
  }
}

.portfolio-filter {
  border: $border;
  background: none;
  color: $color-primary;
  text-align: center;
  width: 100%;
  padding: 15px 15px;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-family: $font-secondary;
  font-weight: 400;
  display: block;
  @include mq(s) {
    width: 50%;
    margin-left: auto;
    margin-right: 5px;
  }
}
