.project {
  display: flex;
  flex-wrap: wrap;
  &__gallery {
    flex-basis: 100%;
    @include mq(s) {
      flex-basis: 60%;
    }
    @include mq(l) {
      flex-basis: 75%;
    }
  }

  &__description {
    padding-left: 0;
    flex-basis: 100%;
    order: -1;
    margin-bottom: 20px;
    @include mq(s) {
      flex-basis: 40%;
      order: 0;
      padding-left: 20px;
    }
    @include mq(l) {
      flex-basis: 25%;
      order: 0;
      padding-left: 20px;
    }
  }
  &__item {
    padding: 5px 0;
    background: $color-grey;
    margin-bottom: 10px;
    @include mq(s) {
      padding: 7px 0;
      margin-bottom: 15px;
    }
  }
  &__desc-header {
    font-weight: 600;
    margin-top: 15px;
  }
  &__desc-link {
    font-weight: 600;
    margin-top: 15px;
    color: $color-secondary;
  }

  &__title {
    margin-bottom: 40px;
  }
}

.ril-inner img {
  max-width: none;
  max-height: none;
}
